{% extends 'base.html.twig' %}

{% block title %}Hello MUSICController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <style>
        body {
            background-image: url('{{ asset('images/music.jpeg') }}');
            background-size: cover;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            color: white;
        }

        form {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 10px;
            width: 300px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            color: white; 
        }

        form input,
        form select,
        form textarea {
            margin-bottom: 15px;
            width: 90%;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }

        form button {
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            padding: 10px;
            border: none;
            border-radius: 5px;
            margin: 0 auto; 
            display: block; 
        }

        form button:hover {
            background-color: #45a049;
        }
        h1 {
            font-size: 3em;
            margin-bottom: 20px; 
            color: white;
            text-align: center;
        }

        .custom-btn {
            display: block;
            padding: 10px 20px;
            color: white;
            text-align: center;
            text-decoration: none;
            background-color: transparent;
            border: 2px solid gray;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        .custom-btn:hover {
            background-color: gray;
            color: white;
        }
                .sign-out-container {
            position: absolute; 
            top: 10px; 
            right: 10px; 
            background-color: #d9534f; 
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }

        .sign-out-text {
            color: white;
            text-decoration: none; 
            font-weight: bold; 
        }

        .sign-out-text:hover {
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Welcome To Sbika Music Site</h1>
        <a class="btn btn-primary custom-btn" href="{{ path('ajouter_titre') }}">Ajouter titre</a>
        <a class="btn btn-primary custom-btn" href="{{ path('ajouter_artiste') }}">Ajouter artiste</a>
        <a class="btn btn-primary custom-btn" href="{{ path('artiste_details') }}">voir artistes</a>
        <a class="btn btn-primary custom-btn" href="{{ path('voir_titres') }}">voir titres</a>
   
    </div>
        <div class="sign-out-container">
        <a href="{{ path('security_logout') }}" class="sign-out-text">Sign Out</a>
    </div>
{% endblock %}

